.luck-draw
	position relative
	display -webkit-flex
	display -moz-flex
	display -ms-flex
	display -o-flex
	display flex
	align-items center
	justify-content center
	background url(../img/luck-draw-title.png) center 66px/488px 184px no-repeat,
	url(../img/luck-draw-lantern.png) left top/162px 820px no-repeat,
	url(../img/luck-draw-shake.png) center 100%/290px 281px no-repeat,
	url(../img/luck-draw.jpg) center center/100% 100% no-repeat
	.luck-draw-wrap
		position relative
		transform scale(0.9)
	.luck-draw-box
		position relative
		padding-top 280px
		padding-bottom 50px
		z-index 10
		img
			display block
			width 231px
	.luck-draw-sign
		position absolute
		top 0
		left 0
		transform-origin 70px bottom
		img
			width 92px
	.sign-1
		top 90px
		left 90px
	.sign-2
		top 130px
		left 40px
	
	.sign-3
		top 55px
		left 39px
	
	.sign-4
		top 130px
		left 10px
	
	.sign-5
		top 60px
		left -10px
	
	.sign-6
		top 100px
		left 45px
	
	.sign-7
		top 140px
		left -20px
	.luck-draw-sign-wrap
		// transform translate(20px, 0)
		// transform-origin center bottom
		// transform rotate(30deg)
