.luck-draw
	position relative
	display -webkit-flex
	display -moz-flex
	display -ms-flex
	display -o-flex
	display flex
	align-items center
	justify-content center
	background url(../img/luck-draw-title.png) center 60px/347px auto no-repeat,
	url(../img/luck-draw-shake.png) center 100%/290px 281px no-repeat,
	url(../img/luck-draw.jpg) center center/100% 100% no-repeat
	.luck-draw-wrap
		position relative
		transform scale(0.9)
		animation fadeIn 2s ease-in-out 1
	.luck-draw-box
		position relative
		padding-top 255px
		padding-bottom 50px
		z-index 10
		img
			display block
			width 289px
	.luck-draw-sign
		position absolute
		top 0
		left 0
		// transform-origin 70px bottom
		transform-origin center bottom
		transition 0.3s
		img
			width 100%
			// width 92px
	.sign-1
		// top 90px
		// left 90px
		width 221px
		top 140px
		left -22px
	.sign-2
		// top 130px
		// left 40px
		width 217px
		top 150px
		left 98px
	
	.sign-3
		// top 55px
		// left 39px
		width 175px
		top 23px
		left 137px
	
	.sign-4
		// top 130px
		// left 10px
		width 122px
		top 6px
		left 115px
	
	.sign-5
		// top 60px
		// left -10px
		width 140px
		top 79px
		left 117px
	
	.sign-6
		// top 100px
		// left 45px
		width 96px
		top 61px
		left 101px
	.sign-7
		// top 140px
		// left -20px
		width 93px
		top -3px
		left 65px
	.sign-8
		// top 140px
		// left -20px
		width 130px
		left 16px
		top 61px
	// .luck-draw-sign-wrap
		// transform translate(20px, 0)
		// transform-origin center bottom
		// transform rotate(30deg)



.sign-1.init-animation
	animation swing2 1.2s ease-in-out 1
.sign-2.init-animation
	animation swing1 1.5s ease-in-out 1
.sign-3.init-animation
	animation swing2 1.3s ease-in-out 1
.sign-4.init-animation
	animation swing1 1.8s ease-in-out 1
.sign-5.init-animation
	animation swing2 1s ease-in-out 1
.sign-6.init-animation
	animation swing1 1.4s ease-in-out 1
.sign-7.init-animation
	animation swing2 1.6s ease-in-out 1
.sign-8.init-animation
	animation swing1 1.7s ease-in-out 1
.sign-9.init-animation
	animation swing2 2s ease-in-out 1


.sign-1.active
	animation swing2 3.5s ease-in-out 1
.sign-2.active
	animation swing1 3s ease-in-out 1
.sign-3.active
	animation swing2 3.5s ease-in-out 1
.sign-4.active
	animation swing1 4.5s ease-in-out 1
.sign-5.active
	animation swing2 3s ease-in-out 1
.sign-6.active
	animation swing1 3.2s ease-in-out 1
.sign-7.active
	animation swing2 3.6s ease-in-out 1
.sign-8.active
	animation swing1 2.8s ease-in-out 1
.sign-9.active
	animation swing2 2.5s ease-in-out 1


@-webkit-keyframes swing1 {
	20% {
		-webkit-transform: rotate3d(0, 0, 1, 20deg);
		transform: rotate3d(0, 0, 1, 20deg)
	}
	40% {
		-webkit-transform: rotate3d(0, 0, 1, -15deg);
		transform: rotate3d(0, 0, 1, -15deg)
	}
	60% {
		-webkit-transform: rotate3d(0, 0, 1, 10deg);
		transform: rotate3d(0, 0, 1, 10deg)
	}
	80% {
		-webkit-transform: rotate3d(0, 0, 1, -5deg);
		transform: rotate3d(0, 0, 1, -5deg)
	}
	100%,0% {
		-webkit-transform: rotate3d(0, 0, 1, 0deg);
		transform: rotate3d(0, 0, 1, 0deg)
	}
}

@keyframes swing1 {
	20% {
		-webkit-transform: rotate3d(0, 0, 1, 20deg);
		transform: rotate3d(0, 0, 1, 20deg)
	}
	40% {
		-webkit-transform: rotate3d(0, 0, 1, -15deg);
		transform: rotate3d(0, 0, 1, -15deg)
	}
	60% {
		-webkit-transform: rotate3d(0, 0, 1, 10deg);
		transform: rotate3d(0, 0, 1, 10deg)
	}
	80% {
		-webkit-transform: rotate3d(0, 0, 1, -5deg);
		transform: rotate3d(0, 0, 1, -5deg)
	}
	100%,0% {
		-webkit-transform: rotate3d(0, 0, 1, 0deg);
		transform: rotate3d(0, 0, 1, 0deg)
	}
}
@-webkit-keyframes swing2 {
	20% {
		-webkit-transform: rotate3d(0, 0, 1, -15deg);
		transform: rotate3d(0, 0, 1, -15deg)
	}
	40% {
		-webkit-transform: rotate3d(0, 0, 1, 10deg);
		transform: rotate3d(0, 0, 1, 10deg)
	}
	60% {
		-webkit-transform: rotate3d(0, 0, 1, -5deg);
		transform: rotate3d(0, 0, 1, -5deg)
	}
	80% {
		-webkit-transform: rotate3d(0, 0, 1, 5deg);
		transform: rotate3d(0, 0, 1, 5deg)
	}
	100%,0% {
		-webkit-transform: rotate3d(0, 0, 1, 0deg);
		transform: rotate3d(0, 0, 1, 0deg)
	}
}

@keyframes swing2 {
	20% {
		-webkit-transform: rotate3d(0, 0, 1, -15deg);
		transform: rotate3d(0, 0, 1, -15deg)
	}
	40% {
		-webkit-transform: rotate3d(0, 0, 1, 10deg);
		transform: rotate3d(0, 0, 1, 10deg)
	}
	60% {
		-webkit-transform: rotate3d(0, 0, 1, -5deg);
		transform: rotate3d(0, 0, 1, -5deg)
	}
	80% {
		-webkit-transform: rotate3d(0, 0, 1, 5deg);
		transform: rotate3d(0, 0, 1, 5deg)
	}
	100%,0% {
		-webkit-transform: rotate3d(0, 0, 1, 0deg);
		transform: rotate3d(0, 0, 1, 0deg)
	}
}

@keyframes fadeIn
	0% {
		transform: rotate3d(0, 0, 1, 0) scale(0)
		opacity 0
	}
	
	90% {
		transform: rotate3d(0, 0, 1, 360deg) scale(1) translate(30%,0)
	}
	100% {
		transform: rotate3d(0, 0, 1, 360deg) scale(1) translate(0,0)
		opacity 1
	}
